
.footer-link {
  font-size: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 6px 0;
  position: relative;
  display: block;
}

.footer-link:hover {
   color: #03be96;
  transform: translateY(-2px);
  cursor: pointer;
}

.footer-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a0f0d0;
  transition: width 0.3s ease;
}

.footer-link:hover::before {
  width: 100%;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.social-link:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}

